* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3b3b3b;
    padding: 30px 10px
}

.card {
    max-width: 500px;
    margin: auto;
    color: black;
    border-radius: 20px
}
.container{
background-color: #fff;
height: 100%;
width: auto;
border-radius: 20px;
padding-left: 10px;
padding-right: 10px;


}
p {
    margin: 0px
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center
    
}

.btn.btn-primary {
    width: 100%;
    height: 70px;
    margin-top: 3% ;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right, #4b1818 0%, #471f28 51%, #442f35 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto
}

.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none
}

.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in
}

.btn.btn-primary a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.form-control {
    color: white;
    background-color: #4b1818;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle
}

.form-control:focus {
    color: white;
    background-color: #4b1818;
    border: 2px solid #4b1818;
    box-shadow: none
}

.text {
    font-size: 14px;
    font-weight: 600
}

::placeholder {
    font-size: 14px;
    font-weight: 600
}



